
     /* font-family: "Raleway", sans-serif;
     font-family: "Roboto", sans-serif */
body {font-family: "Roboto", sans-serif;
    color: #434455; 
    background-color: #f5f5f5;
 }

/* remove bulletpoints */
ul,ol {list-style-type: none;}
/* remove underlining  of the text */
a {text-decoration: none;}

.logo {font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;}

.header-logo .logo-part {color: #2e2f42;} 
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;}
    /* there is no space between class  and pseudoclass, below rules are combined,one rule applied to two selectors */
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contacts{
    font-style :normal;}
.contacts-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;}

.page-footer {background-color :#2e2f42}
.footer-logo {color: #f4f4fd;}