body {font-family: "Roboto", sans-serif;
    color: #434455; 
    background-color: #FFFFFF;
 }
ul,ol {list-style-type: none;}

a {text-decoration: none;}
/* Logo styles */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

/* Navigation link styles */
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
/* Address styles */
.contacts {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* Section 1 styling  */

.slogan {
  background-color: #2e2f42;
}

.slogan-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.order-button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500; /* ✅ виправлено */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

  /* Section 2 styling */

.features-section {
  background-color: #ffffff;
}
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-item {
  background-color: #f4f4fd;
}
/* Headings inside list items */
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* Paragraphs inside list items */
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3: Our Team */
.team-section {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-item {
  background-color: #ffffff;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}  
/* Section 4: Our Portfolio */
.portfolio-section {
  background-color: #ffffff;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio-item {
  background-color: #ffffff;
}

.images-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.images-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* Footer styling */
 .page-footer {
  background-color: #2e2f42;
}

.logo-footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer-part {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
